/* Card de música */
.Track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #181818;
    border-bottom: 1px solid #282828;
    color: #FFFFFF;
}

.Track h3 {
    font-size: 16px;
    margin: 0;
    color: #FFFFFF;
}

.Track p {
    font-size: 14px;
    color: #B3B3B3;
    margin: 0;
}

.Track button {
    padding: 8px 12px;
    background-color: #EF5466;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Track button:hover {
    background-color: #C13A4C;
}

.Track:hover {
    background-color: #282828;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

