/* Barra de pesquisa */
.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #181818;
    padding: 10px;
    border-radius: 5px;
}

.SearchBar input {
    padding: 12px;
    margin-right: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #121212;
    color: #FFFFFF;
}

.SearchBar input::placeholder {
    color: #B3B3B3;
}

.SearchBar button {
    padding: 12px 15px;
    background-color: #EF5466;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.SearchBar button:hover {
    background-color: #C13A4C;
}
