/* Estilo da playlist */
.Playlist {
    margin-top: 20px;
    padding: 15px;
    background-color: #121212;
    border-radius: 8px;
    color: #FFFFFF;
}

.Playlist h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.Playlist .Track {
    margin-bottom: 10px;
}

.Playlist .Track button {
    background-color: #EF5466;
}

.Playlist .Track button:hover {
    background-color: #C13A4C;
}
